package user

import "github.com/metruzanca/go-photos/src/ui/layout"

templ List() {
  @layout.Base() {
    <div>
      <nav>
        Nice nav hahah
      </nav>
  	  <h1>Hello User</h1>
    </div>
  }
}