package layout

templ Base(name string) {
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="/styles.css"/>
    <link rel="icon" href="/favicon.png"/>
    <title>{name}</title>
  </head>
  <body>
    { children... }
  </body>
  </html>
}